* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background-color: #5D5D5D;
}

#title {
    text-align: center;
    padding-top: 3rem;
    font-size: 60pt;
    color: #FFF
}

main {
    display: flex;
    text-align: center;
    justify-content: center;
}

.card {
    background-color: #FFF;
    margin: 4rem;
    height: 32rem;
    width: 23rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    padding-bottom: 1rem;
    font-size: 40px;
}

p {
    padding: 0.4rem;
}

.price {
    padding: 1.5rem 0;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg + p {
    margin-left: 0.5rem;
}